.form-field__wrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-field__input {
  border-radius: 6px;
  padding: 12px 18px 12px 44px;
  border: 0;
  font-size: 0.875rem;
  width: 100%;
}

.form-field__input::placeholder {
  color: var(--secondary-color);
}

.form-field__input:focus {
  outline: none;
}

.form-field__icon {
  position: absolute;
  left: 16px;
}
