.user-container {
  display: flex;
  gap: 96px;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 878px) {
  .user-container {
    flex-direction: column;
    gap: 30px;
  }
}
